.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
              0 6px 30px 5px rgba(0, 0, 0, 0.12),
              0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.custom-sidenav-container {
  position: inherit;
  height: 100%;
  display: inherit;
  transform: inherit;
}

.mat-grid-tile .mat-card-content {
  justify-content: center !important ;
  align-items: center !important;
  text-align: center;
  padding-bottom: 5px;

}

.mat-nav-list a.active {
  background-color: white;
  color: #001519;
  border-radius: 2px;
  width: 95%;
  margin-left: 5px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.mat-nav-list a:not(active) {
  color: white;
  margin-left: 5px;
  width: 95%;
}

/*
  MAT-SLIDE-TOGGLE CSS
*/

/deep/ .mat-slide-toggle-thumb {
  height: 13px !important;
  width: 13px !important;
  position: absolute;
  top: 4px;
}

/deep/ .mat-slide-toggle-bar {
  height: 15px !important;
  width: 30px !important;
  background-color: #666;
}

/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #FFF;
}

/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #666;
}
