/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #F9F8F8}
body { margin: 0; font: 14px "Lato", Arial, sans-serif; min-width: 100%; min-height: 100%; color: #666;}
